<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/plantilla/template2 :: head">
</head>

<header th:replace="/plantilla/template2 :: header"></header>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar navbar-collapse" id="navbarSupportedContent">
			<div class="conteiner mt-05">
		<div class="row justify-content-center">
			<div class="col-md-03">
					<div class="card-body">
					
				
					
							<span th:if="${session.usuario != null}">Bienvenid@ <br>
							<span class="font-italic" th:text="${session.usuario.nombre}"></span></span>
							
							<form th:action="@{/logout}" method="POST">
							<button type="submit" class="btn btn-primary mt-3">Salir</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</nav>

</body>
<footer th:replace="/plantilla/template :: footer"></footer>

</html>

