<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/template2 :: head">
</head>

<header th:replace="layout/template2 :: head"></header>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item ml-5"><a th:href="@{/auth/login}">Loging</a>
				</li>

				<li class="nav-item ml-5"><a th:href="@{/auth/registro}">Registro</a>
				</li>

			</ul>

		</div>

	</nav>

</body>
<footer th:replace="layout/template2 :: footer"></footer>

</html>

