<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">  

    <head th:replace="layout/template :: head"> 
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="layout/template :: header"></header>
        <div class="container mt-4">
            <table class="table">
                <a href="/novo">Novo Cadastro</a>
                <div class="card-header bg-info text-white">
                </div>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOME</th>
                        <th>ENDERECO</th>
                        <th>TELEFONE</th>
                        <th>EMAIL</th>
                    </tr>
                </thead>
                <tbody>               
                    <tr th:each="cad:${cadastro}">
                        <td th:text="${cad.id}"></td>
                        <td th:text="${cad.nome}"></td>
                        <td th:text="${cad.ender}"></td>
                        <td th:text="${cad.fone}"></td>
                        <td th:text="${cad.email}"></td>
                        <td>
                            <a th:href="@{/edite/}+${cad.id}"class="btn btn-warning">Editar</a>
                           
                            <a th:href="@{/deletar/}+${cad.id}"class="btn btn-danger">Remover</a>
                             <!--
                            <a th:onclick="deletar([[${cad.id}]])" class="btn btn-danger">Remover</a>
                            -->
                        </td>
                    </tr>
                </tbody>
            </table>            

        </div>
       
    </body>
     <footer th:replace="layout/template :: footer"></footer>
</html>
